body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  background-image: url('../src/Static/Images/footer_lodyas.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
